# ==========================================
# Configuración del túnel de Cloudflare
# ==========================================
CLOUDFLARE_TUNNEL_TOKEN=tu_token_aqui

# ==========================================
# Configuración Base de Datos Manager
# ==========================================
DB_PASSWORD=una_contraseña_segura
# Nota: DB_DATABASE y DB_USERNAME por defecto son 'sistema' y 'postgres'.
# Puedes sobreescribirlos aquí si lo necesitas.
